<div class="container-fluid home-page">
  <img src="../../../assets/images/law.png" alt="hammer image"/>
  <div class="jumbotron col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8 col-sm-offset-1 col-sm-10">
    <span class="welcome-text">
      <h2>Welcome to Jury Management System</h2>
      <h3>Search all Jurors to find every Juror's information</h3>
      <h3>Create and manage events</h3>
      <h3>Summon Jurors</h3>
      <h3>
        <a routerLink='/sign-in' *ngIf="!isLoggedIn">
          <button class="btn btn-success">Sign In or Register</button>
        </a>
      </h3>
    </span>
  </div>
</div>

