
.sign-in-form {
    margin-top: 5%;
}

h2 {
    text-align: center;
}

button {
    margin: 10px 30px 0 0;
}

/* .box form div input {
    width:400px;
}

.box form {
    position: relative;
    top:40px;
}

h2 {
  position: absolute;
  margin: -30px auto;
}
 */
