<div class="container box">
  <div class="panel panel-info col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8 col-sm-offset-1 col-sm-10">
    <div class="panel-heading">Your profile</div>
    <div class="panel-body">
      <table class="table table-responsive">
        <tr>
          <th>First Name</th>
          <td>{{currentEmployee.firstName}}</td>
        </tr>
        <tr>
          <th>Last Name</th>
          <td>{{currentEmployee.lastName}}</td>
        </tr>
        <tr>
          <th>Employee ID</th> 
          <td>{{currentEmployee.empId}}</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>{{currentEmployee.email}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
